/* Reset de página */
* {
    margin: 0;
    padding: 0;
}
/* Configuração geral da página */
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color:  brown;
}
/* tags */
p {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: rgb(59,56,52);
}
/* Classes */
.conteudo {
    width: 900px;
    margin: auto;
    position: relative;
}
.col1 {
    width: 100%;
    position: relative;
    float: left;
    margin: auto;
    min-height: 180px;
}
.col2 {
    width: 75%;
    margin: auto;
    min-height: 180px;
}
.meio {
    position: relative;
    float: left;
    left: 50%;
    margin-right: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
}
.centro {
    align-items: center;
    justify-content: center;
    display: flex;
}
.destaque {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(13, 28, 240);
    border-radius: 50%;
    /* pos. hor | pos. vert | blur | tamanho | cor */
    box-shadow: 0 0 4px 4px cyan;
}
.esqMenor {
    position: relative;
    display: flex;
    float: left;
    top: 80px;
    left: 70%;
    margin-right: -50%;
}
.esqMaior {
    position: relative;
    display: flex;
    float: left;
    top: 80px;
    left: 90%;
    margin-right: -50%;
}
.dirMenor{
    position: relative;
    display: flex;
    float: left;
    top: 80px;
    left: 30%;
    margin-right: -50%;
}
.dirMaior {
    position: relative;
    display: flex;
    float: left;
    top: 80px;
    left: 10%;
    margin-right: -50%; 
}
.segPos {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(90, 89, 89);
    border-radius: 50%;
    box-shadow: 0 0 4px 4px gray;
}
.terPos {
    width: 40px;
    height: 40px;
    display: flex;    
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(90, 89, 89);
    border-radius: 50%;
    box-shadow: 0 0 4px 4px gray;
}
/* Botões */
.btn-flat {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 3px 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-flat p {
    font-size: 1em;
    color: rgb(235, 219, 176);
}
.btn-Azul {
    background-color: blue;
}
.btn-Azul:hover {
    background-color: rgb(7, 12, 85);
}
.btn-Azul:active {
    background-color: rgb(32, 44, 212);
    box-shadow: 1px 1px 2px 2px gray;
}

.oculta {
    display: none; 
}
/* Input de texto */
input[type=text] {
    height: 30px;
    width: 300px;
    border-radius: 0 0 15px 0;
    border-style: none;
    border-bottom: 1px solid blue;
    background-color: transparent;
    font-family: 'Courier New';
    font-size: 1em;
    font-weight: bold;
    color: darkslategray;
}